data/chat.db
/dist
/node_modules
/release
/.idea
/examples/complete-example/node_modules
ai-chat-react-component-1.0.0.tgz
/server/chat_app_server/mcp_services
/server/chat_app_server/.idea
/server/chat_app_server/.idea
/server/chat_app_server/app/api/__pycache__
/server/chat_app_server/app/mcp_manager/__pycache__
/server/chat_app_server/app/mcp_manager/configs/__pycache__
/server/chat_app_server/app/models/__pycache__
/server/chat_app_server/app/services/__pycache__
/server/chat_app_server/mcp_config
/server/chat_app_server/app/__pycache__
/server/chat_app_server/app/mcp_manager/configs
/server/chat_app_server/app/services/v2/__pycache__
/server/chat_app_server/app/services/v2/__pycache__
/server/chat_app_server/app/services/v2/__pycache__
*.pyc
/server/chat_app_server/app/__pycache__
*.db
